a {
  color: #2a7ae2;
  text-decoration: none;
  box-shadow: none;
  &:visited {
    color: #1756a9;
  }
}

svg {
  fill: #828282;
  display: inline-block;
  width: 16px;
  height: 16px;
  vertical-align: middle;
  margin-right: 5px;
}
